.Post {
    width: 25%;
    min-width: 500px;
    display: flex;
    justify-content: space;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem 2rem 1rem 2rem;
    margin: 1rem 0;
    box-shadow: 0 5px 10px 5px lightgray;
}

.Post a {
    color: inherit;
    text-decoration: inherit;
}

.Post h1 {
    margin: 0;
}

.PostScore {
    width: 4rem;
    display: flex;
    flex-direction: column;
    padding-right: 2rem;
}

.PostScore img {
    height: 2rem;
}

.PostScore h2 {
    color: grey;
    font-weight: bold;
}

.PostContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostContainer h1 {
    width: 100%;
    text-align: left;
}

.PostImageContainer {
    width: 100%;
    margin: 1rem 0;
}

.PostImageContainer img {
    width: 100%;
}

.PostData {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #d3d3d3;
    padding-top: 1rem;
}

.PostData p {
    margin: 0;
}

.PostComments {
    display: flex;
    align-items: middle;
}

.PostComments img {
    vertical-align: middle;
    height: 1.5rem;
    padding-left: 0.5rem;
}