.App {
  text-align: center;
}

.App-logo {
  height: 3rem;
  pointer-events: none;
  padding-right: 1rem;
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: white;
}

/* @media only screen and (min-width: 500px) {
  .Posts {
    width: 100%;
  }
} */